.main_chat
  .main_chat__group-info
    .main_chat__group-info__group
      .main_chat__group-info__group__name
        = @group.name
      .main_chat__group-info__group__member-list
        Member：
        .main_chat__group-info__group__member-list__member-name
          - @group.users.each do |user|
            =user.name
    = link_to edit_group_path(@group), class: "edit__btn" do
      Edit
  .main_chat__message-list
    .MessageField
    = render @messages
  .main_chat__message-form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far','image')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'