.main_chat
  .main_chat__group-info
    .main_chat__group-info__group
      .main_chat__group-info__group__name
        test
      .main_chat__group-info__group__member-list
        Member：
        .main_chat__group-info__group__member-list__member-name
          name   
    = link_to "#", class: "edit__btn" do
      Edit
  .main_chat__message-list
    .main_chat__message-list__message-box
      .main_chat__message-list__message-box__message-info
        .main_chat__message-list__message-box__message-info__name
          name
        .main_chat__message-list__message-box__message-info__date
          2020年05月06日 00時57分
      .main_chat__message-list__message-box__message
        .main_chat__message-list__message-box__message__contents
          aaaaaa

  .main_chat__message-form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far','image')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'